
.dark {
  background-color: #1e1e1e;
  height: 300px;
}

.dark-bottom {
  background-color: #1e1e1e;
  height: 100px;
}

.descp {
  font-weight: bolder;
  text-align: center;
  padding-top: 100px;
  color: white;
}

.desc {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(224, 208, 208);
}

.desc-bottom {
  text-align: center;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

.btn-outline-dark:hover {
  color: white;
  background-color: #343a40;
}

.in-cart-badge {
  color: black;
  transition: color 0.2s;
}

.btn-outline-dark:hover .in-cart-badge {
  color: white;
}

.badge-custom {
  width: 50px;
  height: 20px;
}
.badge-right {
  position: absolute;
  right: 10px;
  top: 10px;
}

.btn {
  border: 1px solid black;
}






